<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Análise de Celulares Amazon</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/sobre.css">
    <link rel="shortcut icon" href="../midia/icone.ico" type="image/x-icon">

</head>
<body>
    
    <header>
        <a href="../site.html"><img class="logo" src="../midia/logo1.svg" alt=""></a>
        <h1>Análise de avaliações da Amazon Americana</h1>
        <nav>
            <a href="../site.html">Home</a>
            <a href="explicando_codigo.html">Criação do dataframe</a>
            <a href="download.html">Baixe os arquivos</a>
            <a href="sobre.html">Sobre</a>
        </nav>
    </header>
    <main>
       
        <div id="grid_sobre">
            <div id="grid_sobre_img">
            <picture id="dev_img">
                <source media="(max-width: 350px)" srcset="../midia/dev180px.png" type="image/png">
                <img src="../midia/dev355px.png" alt="" width="31%" height="31%">
            </picture>
            </div>
            <div id="grid_sobre_txt">
            <h1 style="width: auto;">João Matheus Oliveira</h1>

                <p>Tecnólogo em Gestão empresarial, atualmente estudando Ciência de dados, no período noturno na Fatec Cotia. Atuou na área administrativa, no setor público de saúde e após no setor de frotas, juntas, as experiencias somam 1 ano no setor.</p>
                <p>Com o foco atual sendo a área de tecnologia, as tecnologias que utilizo são:</p>
                <ul>
                    <li style="margin-bottom: 0px;">Pacote Office;</li>
                    <li style="margin-bottom: 0px;">Python;</li>
                    <li style="margin-bottom: 0px;">Power BI;</li>
                    <li style="margin-bottom: 0px;">HTML e CSS;</li>
                    <li style="margin-bottom: 0px;">Figma e Gimp;</li>  
                </ul>
            <h2>Contato:</h2>
            <a href="https://www.linkedin.com/in/joão-matheus-oliveira-107b98179/" target="_blank" style="text-decoration-color: var(--cor_analoga)">
                <p class="p_grid_sobre">linkedin</p><img src="../midia/linkedin_blue.svg" alt="" class="icon_sobre">
            </a>
            <a href="https://github.com/Jojojmo" target="_blank" style="text-decoration-color: var(--cor_analoga)">
                <p class="p_grid_sobre">Github</p><img src="../midia/github_blue.svg" alt="" class="icon_sobre">
            </a>
            </div>
        </div>
        
        
    </main>

    <footer>
        <h2>Criado por: João Matheus Oliveira</h2>
        <div>
            <a href="https://github.com/Jojojmo" target="_blank"><img id="github" src="../midia/github_white.svg" alt=""></a>
            <a href="https://www.linkedin.com/in/joão-matheus-oliveira-107b98179/" target="_blank"><img id="linkedin" src="../midia/linkedin_white.svg" alt=""></a>
        </div>
    </footer>
</body>
</html>